<!doctype html>
<html ng-app="scheduleApp">
<head>
	<meta charset="utf-8">
	<script src="js/angular.js"></script>
	<script src="js/angular-animate.js"></script>
	<script src="js/schedule.js"></script>
	<link rel="stylesheet" href="css/schedule.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<link rel='stylesheet' href='css/fullcalendar.css' />
	<script src='js/jquery.min.js'></script>
	<script src='js/moment.min.js'></script>
	<script src='js/fullcalendar.js'></script>
</head>
<body ng-controller="scheduleController">
	<div class="container">
		<center>

			<!-- CHOOSE ACTION -->
			<div class="choose-action-max animate-show" ng-show="currentScreen=='choose-action'">
				<h1>Выберите действие</h1>
				<div class="btn-group-vertical">
					<div class="btn btn-default btn-lg btn-block" ng-class="isActiveAction(key)" ng-repeat="(key, action) in actions" ng-click="chooseAction($event, key)">{{action.title}} (~{{action.duration*15}} минут)</div>
				</div>
			</div>
			<div class="choose-action-min" ng-show="currentScreen!='choose-action'" ng-click="currentScreen='choose-action';">
				<h3>Выберите действие</h3>
				<div class="btn-group" role="group">
					<button class="btn btn-default" ng-class="isActiveAction(key)" ng-repeat="(key, action) in actions" ng-click="chooseAction($event, key)">{{action.title}}</button>
				</div>
			</div>
			
			
			<!-- CHOOSE TIME -->
			<div class="choose-time-max animate-show" ng-show="currentScreen=='choose-time'">
				<h1>Выберите день и время</h1>
				<div id="calendar">
					<table>
						<tr style="height:30px;">
							<th ng-repeat="day in ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс']">
								{{ day }}
							</td>
						</tr>
						<tr ng-repeat="week in [1, 2, 3, 4, 5]">
							<td ng-repeat="day in [1, 2, 3, 4, 5, 6, 7]" ng-class="getDayStyle(day, week)" ng-click="checkInDayClick(day, week)">
								{{ getDay(day, week) }}
							</td>
						</tr>
					</table>
					<div id="timeList">
						<div class="btn-group btn-group-justified">
							<button class="btn" ng-repeat="time in times" ng-class="time.class" ng-click="addCheckInTime(time.part)">{{ renderTime(time.part) }}</button>
						</div>
					</div>
				</div>
				
				<div class="checkInTimes">
					<div class="btn-group" ng-repeat="(key, checkInTime) in checkInTimes[choosenAction]">
						<span class="btn btn-warning check-in-time active">{{ checkInTime.time }}</span>
						<button type="button" class="btn btn-warning" ng-click="removeCheckInTime(key)">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
					</div>
				</div>
			</div>
			<div class="choose-time-min" ng-show="currentScreen!='choose-time'" ng-click="currentScreen='choose-time'">
				<h3>Выберите день и время</h3>
				<div class="checkInTimes">
					<div class="btn-group" ng-repeat="(key, checkInTime) in checkInTimes[choosenAction]">
						<span class="btn btn-warning check-in-time active">{{ checkInTime.time }}</span>
						<button type="button" class="btn btn-warning" ng-click="removeCheckInTime($event, key)">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
					</div>
				</div>
			</div>
			
			
			<!-- CHECK IN -->
			<div class="check-in-max animate-show" ng-show="currentScreen=='check-in'">
				<h1>Запишитесь</h1>
				<form name="checkInForm" action="#" class="form-horizontal">
					<div class="form-group">
						<div class="col-sm-12">
							<input type="text" class="form-control" id="name" placeholder="Ваше имя (обязательное)" ng-model="userName" required>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<input type="text" class="form-control" id="phone" placeholder="Номер вашего телефона (обязательное)" ng-model="userPhone" required>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<input type="email" class="form-control" id="email" placeholder="Ваш email" ng-model="userEmail">
						</div>
					</div>
					<br>
					<div class="form-group">
						<div class="col-sm-12">
							<button type="submit" class="btn btn-warning" ng-disabled="checkInForm.$invalid">Записаться</button>
						</div>
					</div>
				</form>
			</div>
			<div class="check-in-min" ng-show="currentScreen!='check-in'" ng-click="currentScreen='check-in'">
				<h3>Запишитесь</h3>
			</div>
		</center>
	</div>
</body>

</html>
